/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, #map-canvas {
	height: 90%;
	width: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
	margin:50px 50px 30px 100px;
	font-weight:strong;
	font-size:36px;
}

#formContainer {
	margin-left:50px;
}

#map-container {
	vertical-align:top; 
	margin-top:0px;
	margin-left:50px;
	width: 420px;
	height: 400px;
	display:inline-block;
}

#directions {
	margin-left:10px;
	width: 420px;
	display:inline-block;
}

li {
	list-style-type:decimal;
	margin-left:20px;
}

.shade {
	background-color:#FFFF66;
}

#btn {
	border:1px solid #3FAE13;
	border-radius:5px;
	background-color:#48C716;
	width:70px;
	height:19px;
	display:inline;
	color:white;
	padding:3px;
	font-size:smaller;
}

#btn:hover {
	background-color:#13AE35;
	cursor:pointer;
}